.input-container {
    display: flex;
    align-items: center;
    position: relative;
  }
  button[type="submit"] {
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
  } 
  .search-text {
    padding: 20px;
    margin: 20px;
  }
  .search-button {
    position: absolute;
    top: 0; 
    right: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  @media only screen and (max-width: 765px) {
    .link {
      display: none;
    }
  }