.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  height: 48px;
  width: 100%;
  top: 44px;
  padding: 10px;
  margin-bottom: 100px;
}

.search-container {
  display: flex;
  margin: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
}
.search-container > .row {
    gap: 20px; /* Adjust the gap between cards as needed */
}
